{% extends "maestra.html" %}
{% block titulo %}Editar juego{% endblock %}
{% block contenido %}
<section class="section">
    <h3 class="is-size-3">Editar juego</h3>
    <form action="{{ url_for('actualizar_juego') }}" method="post">
        
        <input type="hidden" name="id" value="{{ juego.id }}">
        
        <input required type="text" name="nombre" value="{{ juego.nombre }}" class="input mb-2" placeholder="Nombre">
        
        <input required type="text" name="descripcion" value="{{ juego.descripcion }}" class="input mb-2" placeholder="Descripción">
        
        <input required type="number" step="any" name="precio" value="{{ juego.precio }}" class="input mb-2" placeholder="Precio">
        
        <button class="button is-success">Guardar</button>
        <a href="{{ url_for('juegos') }}" class="button is-primary">Volver</a>
    </form>
</section>
{% endblock %}